@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html{
  background-color: #222222;
  margin: -8px;
}
main{

}
@font-face {
  font-family: 'Cunia';
  src: url('Cunia.eot');
  src: url('/fonts/Cunia.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Cunia.woff') format('woff'),
      url('/fonts/Cunia.ttf') format('truetype'),
      url('/fonts/Cunia.svg#Cunia') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
p, h1, h2, h3 {
  color: azure;
}
.flex{
  display: flex;
}
.m-c{
  margin-top: auto;
  margin-bottom: auto;
}
.mont{
  font-family: 'Montserrat', sans-serif;
}
.cun{
  font-family: 'Cunia', sans-serif;
}
